
  <div> {{ job['title'] }} </div>
      <div> Location :  {{ job['location'] }} </div>
       {% if 'salary' in job %}
      <div> Salary : {{ job['salary']}}<br><br> </div>
      {% endif %}
<div>
  <a href="mailto:gamerdilum@gmail.com?subject=Application%20for%20 {{job['title']}}&body=Here%20is%20the%20person%20we%20need%0D%0A%0D%0ASalary%20%3A%20{{job['salary']}}%0D%0A%0D%0ALocation%20%3A%20{{job['location']}}%0D%0A%0D%0AThank%20you%2C%0D%0ADilum.%0D%0A%0D%0A">Cleck here</a>
  <br> <br> </div>
